In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [40]:
#encoding='unicode_escape', it's used to handle Unicode characters within the CSV file. 
df = pd.read_csv('Mh.csv', encoding='unicode_escape')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 8 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   Entity                                                                             6420 non-null   object
 1   Code                                                                               6150 non-null   object
 2   Year                                                                               6420 non-null   int64
 3   Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized  6420 non-null   float64
 4   Depressive disorders (share of population) - Sex: Both - Age: Age-standardized     6420 non-null   float64
 5   Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized        6420 non-null   float64
 6   Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized        6420 non-null   float64
 7   Eating disorders (share of population) - Sex: Both - Age: Age-standardized         6420 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 401.4+ KB

In [34]:
#here we are getting the shape of our dataframe
df.shape

(6420, 8)

In [35]:
#here we are checking the top 5 col.. of our dataset
df.head()

,Entity,Code,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized
0,Afghanistan,AFG,1990,0.223206,4.996118,4.713314,0.703023,0.127700
1,Afghanistan,AFG,1991,0.222454,4.989290,4.702100,0.702069,0.123256
2,Afghanistan,AFG,1992,0.221751,4.981346,4.683743,0.700792,0.118844
3,Afghanistan,AFG,1993,0.220987,4.976958,4.673549,0.700087,0.115089
4,Afghanistan,AFG,1994,0.220183,4.977782,4.670810,0.699898,0.111815

In [36]:
#here we trying to know is there any data is null which will return in true or flase
pd.isnull(df)

,Entity,Code,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
6415,False,False,False,False,False,False,False,False
6416,False,False,False,False,False,False,False,False
6417,False,False,False,False,False,False,False,False
6418,False,False,False,False,False,False,False,False
6419,False,False,False,False,False,False,False,False

In [37]:
#pd.isnull(df).sum() counts the number of missing values in each column of the DataFrame df.
#here we can easily see that in code there is 270 value is null
pd.isnull(df).sum()

Entity                                                                                 0
Code                                                                                 270
Year                                                                                   0
Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized      0
Depressive disorders (share of population) - Sex: Both - Age: Age-standardized         0
Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized            0
Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized            0
Eating disorders (share of population) - Sex: Both - Age: Age-standardized             0
dtype: int64

In [39]:
df.shape

(6420, 8)

In [41]:
#now here we will try to remove the null value in code 
#drop null values
#inplace true mean whatever we change we are placing it inside the dataset just like save
df.dropna(inplace=True)

In [42]:
#here with this command we can see that null value has been removed
df.shape

(6150, 8)

In [45]:
#now lets try to change data type
df['Year'] = df ['Year'].astype('float')

In [47]:
df['Year'].dtypes

dtype('float64')

In [48]:
#to check columns 
df.columns

Index(['Entity', 'Code', 'Year',
       'Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized',
       'Depressive disorders (share of population) - Sex: Both - Age: Age-standardized',
       'Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized',
       'Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized',
       'Eating disorders (share of population) - Sex: Both - Age: Age-standardized'],
      dtype='object')

In [49]:
df.describe()

,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized
count,6150.000000,6150.000000,6150.000000,6150.000000,6150.000000,6150.000000
mean,2004.500000,0.266031,3.766168,4.098702,0.638366,0.194945
std,8.656145,0.039258,0.939617,1.060642,0.235506,0.139051
min,1990.000000,0.188416,1.522333,1.879996,0.181667,0.044780
25%,1997.000000,0.241982,3.063132,3.425237,0.521153,0.095748
50%,2004.500000,0.272983,3.642872,3.939547,0.579017,0.144325
75%,2012.000000,0.285912,4.369088,4.539975,0.853304,0.242860
max,2019.000000,0.462045,7.645899,8.624634,1.506730,1.031688

In [52]:
#if you want describe of any particular row then mention it 
df[['Year']].describe()

              Year
count  6150.000000
mean   2004.500000
std       8.656145
min    1990.000000
25%    1997.000000
50%    2004.500000
75%    2012.000000
max    2019.000000

#EDa Start from here

In [55]:
sns.vountplot(x = 'Year', data = df)

AttributeError: module 'seaborn' has no attribute 'vountplot'